[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "datarium"]
	path = datarium
	url = https://github.com/kassambara/datarium
[submodule "factoextra"]
	path = factoextra
	url = https://github.com/kassambara/factoextra
[submodule "fastqcr"]
	path = fastqcr
	url = https://github.com/kassambara/fastqcr
[submodule "ggcorrplot"]
	path = ggcorrplot
	url = https://github.com/kassambara/ggcorrplot
[submodule "ggpubr"]
	path = ggpubr
	url = https://github.com/kassambara/ggpubr
[submodule "rstatix"]
	path = rstatix
	url = https://github.com/kassambara/rstatix
[submodule "survminer"]
	path = survminer
	url = https://github.com/kassambara/survminer
